.App {
  height: 100vh;
  text-align: center;
  color: rgb(73, 193, 214);
  background-color: rgb(56, 59, 61);
}

div {
  border: 1px solid rgb(73, 193, 214);
}

.button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #204ca5;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: rgb(73, 193, 214);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

.display-red-value {
  color: red;

}